/*!css/app.less*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body #app {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
}
body #app .container {
  width: 100%;
  background: #fff;
}
body #app .container header {
  width: 960px;
  padding: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
  overflow: hidden;
}
body #app .container header .logo {
  float: left;
  margin-right: 80px;
}
body #app .container header .logo a {
  width: 200px;
  height: 50px;
  display: block;
}
body #app .container header .logo a img {
  width: 100%;
  height: auto;
}
body #app .container header input {
  width: 422px;
  padding: 7px;
  height: 100%;
  outline: none;
  border: 1px solid #1db69a;
  margin-right: 5px;
}
body #app .container header button {
  width: 80px;
  height: 30.5px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #1db69a;
  color: #fff;
  margin-right: 50px;
}
body #app .container header a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
body #app .container header a:hover {
  text-decoration: underline;
}
body #app .container .top {
  position: relative;
  margin: 0 auto;
  z-index: 10;
  width: 1200px;
  background: #ccc;
  padding: 20px;
}
body #app .container .top ul {
  margin: 0 auto;
  overflow: hidden;
  margin-right: -30px;
}
body #app .container .top ul #sure,
body #app .container .top ul #default {
  outline: line;
  float: right;
  margin-right: 50px;
}
body #app .container .top ul li {
  width: 180px;
  height: 100px;
  margin-right: 25px;
  float: left;
  cursor: pointer;
  margin-bottom: 30px;
  border: 5px solid #FFF;
  box-sizing: border-box;
}
body #app .container .top ul li img {
  width: 100%;
  height: 100%;
}
body #app .container .top ul li p {
  font-size: 12px;
  color: #333;
  text-align: center;
  width: 100%;
}
body #app .container .top ul li:hover {
  border: 5px solid #000;
}
body #app .container .top ul button {
  padding: 5px;
  background: #1db69a;
}
body #app .container .nav {
  border-top: 3px solid #1db69a;
}
body #app .container .nav nav {
  width: 980px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
body #app .container .nav nav a {
  float: left;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  padding: 0 15px;
}
body #app .gotop {
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  padding: 5px;
}
body #app .gotop:hover {
  background: rgba(0, 0, 0, 0.9);
}
body #app .banner {
  width: 980px;
  height: 420px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
body #app .banner div {
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
}
body #app .banner div img {
  width: 100%;
  height: 400px;
}
body #app .banner div ul {
  position: relative;
  top: -90px;
  margin: 0 auto;
}
body #app .banner div ul li {
  float: left;
  width: 10%;
  margin: 1.25%;
  box-sizing: border-box;
  height: 60px;
}
body #app .banner div ul li img {
  width: 100%;
  height: 100%;
}
body #app .banner div ul li:first-child {
  border: 5px solid green;
}
body #app .banner span {
  cursor: pointer;
  width: 50px;
  height: 100px;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  margin-top: -100px;
  font-family: "宋体";
  color: #fff;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  display: none;
}
body #app .banner:hover span {
  display: block;
}
body #app .banner .right {
  right: 0;
}
body #app .page {
  width: 980px;
  height: 540px;
  margin: 20px auto;
}
body #app .page h3 {
  display: inline-block;
  font-size: 20px;
  padding-left: 3px;
  border-left: 3px solid #1db69a;
  margin-bottom: 10px;
}
body #app .page .more {
  cursor: pointer;
  font-size: 14px;
  color: #1db69a;
  margin-left: 10px;
  display: inline-block;
}
body #app .page ul {
  overflow: hidden;
  margin-right: -20px;
}
body #app .page ul li {
  background: #fff;
  cursor: pointer;
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
  width: 180px;
  height: 153px;
  position: relative;
}
body #app .page ul li span {
  float: right;
  margin-right: 10px;
  color: #f60;
}
body #app .page ul li p {
  font-size: 14px;
}
body #app .page ul li .bg {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -51px;
  margin-left: -30px;
  display: none;
}
body #app .page ul li:hover .bg {
  display: block;
}
body #app .page ul li:hover .title {
  color: #1db69a;
}
body #app .page ul li .subtitle {
  font-size: 12px;
  color: #333;
}
body #app .page ul li .num {
  text-align: center;
  position: absolute;
  top: 80px;
  right: 10px;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
}
body #app .page ul li:first-child {
  width: 380px;
  height: 320px;
}
body #app .page ul li:first-child .num {
  text-align: center;
  top: 230px;
  right: 10px;
}
body #app .aside {
  position: fixed;
  top: 150px;
  right: 50px;
}
body #app .aside h3 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
body #app .aside li {
  font-size: 16px;
  border: 1px solid #1db69a;
  text-align: center;
  line-height: 16px;
  margin-bottom: 10px;
}
body #app .aside li a {
  padding: 10px;
  display: block;
  color: #333;
}
body #app .aside li:hover {
  background: #1db69a;
}
body #app .page2 {
  width: 980px;
  margin: 20px auto;
}
body #app .page2 h3 {
  display: inline-block;
  font-size: 20px;
  padding-left: 3px;
  border-left: 3px solid #1db69a;
  margin-bottom: 10px;
}
body #app .page2 .more {
  cursor: pointer;
  font-size: 14px;
  color: #1db69a;
  margin-left: 10px;
  display: inline-block;
}
body #app .page2 .link a {
  font-size: 16px;
  margin-left: 20px;
  color: #000;
}
body #app .page2 .link a:hover {
  color: #1db69a;
}
body #app .page2 ul {
  overflow: hidden;
  margin-right: -20px;
}
body #app .page2 ul li {
  background: #fff;
  cursor: pointer;
  float: left;
  margin-right: 20px;
  margin-bottom: 25px;
  width: 180px;
  position: relative;
  height: 310px;
}
body #app .page2 ul li img {
  width: 100%;
  height: 250px;
}
body #app .page2 ul li span {
  float: right;
  padding: 0;
  margin-right: 10px;
  color: #f60;
}
body #app .page2 ul li p {
  padding-left: 10px;
  font-size: 14px;
}
body #app .page2 ul li .bg {
  width: 50px;
  height: 50px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -45px;
  display: none;
}
body #app .page2 ul li:hover .bg {
  display: block;
}
body #app .page2 ul li:hover .title {
  color: #1db69a;
}
body #app .page2 ul li .subtitle {
  font-size: 12px;
  color: #333;
}
body #app .page2 ul li .num {
  position: absolute;
  bottom: 70px;
  right: 10px;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding-right: 10px;
}
body #app .update {
  width: 980px;
  height: 230px;
  margin: 0 auto;
  margin-top: 40px;
}
body #app .update h3 {
  display: inline-block;
  font-size: 20px;
  padding-left: 3px;
  border-left: 3px solid #1db69a;
  margin-bottom: 10px;
}
body #app .update span {
  margin-left: 10px;
  padding: 5px;
}
body #app .update span a {
  background: #fff;
  color: #000;
  display: inline-block;
  padding: 5px 35px;
  border-right: 1px solid #ccc;
}
body #app .update span a:last-child {
  border-right: none;
}
body #app .update ul {
  overflow: hidden;
  margin-right: -20px;
}
body #app .update ul li {
  cursor: pointer;
  float: left;
  margin-right: 20px;
  margin-bottom: 35px;
  width: 180px;
  height: 160px;
  position: relative;
  background: #fff;
}
body #app .update ul li img {
  width: 100%;
  height: auto;
}
body #app .update ul li p {
  font-size: 14px;
}
body #app .update ul li .bg {
  width: 50px;
  height: 50px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -55px;
  display: none;
}
body #app .update ul li:hover .bg {
  display: block;
}
body #app .update ul li:hover .title {
  color: #1db69a;
}
body #app .update ul li .subtitle {
  font-size: 12px;
  color: #333;
}
body #app .filter {
  font-size: 12px;
  color: #666;
  width: 980px;
  margin: 10px auto;
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #ccc;
}
body #app .filter li {
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
}
body #app .filter li a {
  cursor: pointer;
  color: #333;
  padding: 3px 10px;
  margin: 0 20px;
  line-height: 1;
}
body #app .filter li a:first-child {
  background: #1db69a;
  color: #fff;
}
body #app .footer {
  background: #fff;
  padding: 60px;
  font-size: 14px;
}
body #app .footer .footerBox {
  overflow: hidden;
  width: 980px;
  margin: 0 auto;
}
body #app .footer .footerBox .left {
  float: left;
}
body #app .footer .footerBox .left img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}
body #app .footer .footerBox .left span {
  display: block;
  color: #cccccc;
}
body #app .footer .footerBox .right {
  float: right;
  overflow: hidden;
}
body #app .footer .footerBox .right ul {
  margin: 0 20px;
  float: right;
}
body #app .footer .footerBox .right ul img {
  width: 100px;
  height: 100px;
}
body #app .footer .footerBox .right ul li {
  line-height: 20px;
}
body #app .footer .footerBox .right ul li:first-child {
  margin-bottom: 15px;
}
body #app .result {
  position: relative;
  width: 980px;
  margin: 20px auto;
}
body #app .result .resuliLi {
  height: 320px;
}
body #app .result .resuliLi #i {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: #000;
}
body #app .result .resuliLi .num {
  bottom: 80px;
}
body #app .result .sortdiv {
  display: inline-block;
}
body #app .result .sortdiv .hot,
body #app .result .sortdiv .score {
  margin-left: 10px;
  padding: 0px 20px;
  cursor: pointer;
}
body #app .result .good {
  padding-left: 10px;
  float: left;
  color: #000;
  font-size: 14px;
}
body #app .result h3 {
  display: inline-block;
  font-size: 20px;
  padding-left: 3px;
  border-left: 3px solid #1db69a;
  margin-bottom: 10px;
}
body #app .result .more {
  cursor: pointer;
  font-size: 14px;
  color: #1db69a;
  margin-left: 10px;
  display: inline-block;
}
body #app .result .link a {
  font-size: 16px;
  margin-left: 20px;
  color: #000;
}
body #app .result .link a:hover {
  color: #1db69a;
}
body #app .result ul {
  overflow: hidden;
  margin-right: -20px;
}
body #app .result ul li {
  background: #fff;
  cursor: pointer;
  float: left;
  margin-right: 20px;
  margin-bottom: 25px;
  width: 180px;
  position: relative;
  height: 310px;
}
body #app .result ul li img {
  width: 100%;
  height: 250px;
}
body #app .result ul li span {
  float: right;
  padding: 0;
  margin-right: 10px;
  color: #f60;
}
body #app .result ul li p {
  padding-left: 10px;
  font-size: 14px;
}
body #app .result ul li .bg {
  width: 50px;
  height: 50px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -45px;
  display: none;
}
body #app .result ul li:hover .bg {
  display: block;
}
body #app .result ul li:hover .title {
  color: #1db69a;
}
body #app .result ul li .subtitle {
  font-size: 12px;
  color: #333;
}
body #app .result ul li .num {
  position: absolute;
  bottom: 70px;
  right: 10px;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding-right: 10px;
}
body #app .pageAside {
  position: absolute;
  right: 20px;
}
body #app .pageAside .chart {
  width: 150px;
  height: 650px;
}
body #app .pageAside .chart h3 {
  font-size: 20px;
  padding-left: 3px;
  border-left: 3px solid #1db69a;
  margin-bottom: 10px;
}
body #app .pageAside .chart ul {
  background: #fff;
}
body #app .pageAside .chart ul li {
  padding: 8px;
}
body #app .pageAside .chart ul li span {
  font-size: 14px;
  line-height: 14px;
}
body #app .pageAside .chart ul li .num {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background: #1db69a;
  color: #fff;
  margin-right: 3px;
}
body #app .pageAside .chart ul li a {
  font-size: 14px;
  color: #000;
}
body #app .pageAside .class {
  width: 150px;
  height: 720px;
}
body #app .pageAside .class h3 {
  font-size: 20px;
  padding-left: 3px;
  border-left: 3px solid #1db69a;
  margin-bottom: 10px;
}
body #app .pageAside .class ul {
  background: #fff;
}
body #app .pageAside .class ul li a {
  cursor: pointer;
  display: block;
}
body #app .pageAside .class ul li a img {
  width: 100%;
}
body #app .pageAside .sortby {
  width: 150px;
}
body #app .pageAside .sortby img {
  width: 100%;
}
body #app .pageAside .sortby h3 {
  font-size: 20px;
  padding-left: 3px;
  border-left: 3px solid #1db69a;
  margin-bottom: 10px;
  display: inline-block;
}
body #app .pageAside .sortby .more {
  font-size: 16px;
  margin-left: 10px;
  color: #1db69a;
  cursor: pointer;
}
body #app .pageAside .sortby ul {
  background: #fff;
  overflow: hidden;
  padding: 10px;
}
body #app .pageAside .sortby ul li {
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
}
body #app .pageAside .sortby ul li a {
  cursor: pointer;
  font-size: 14px;
  padding: 2px;
  border-radius: 3px;
  width: 100%;
  color: #000;
  display: inline-block;
  background: #eee;
}
body #app .pageAside .sortby ul li a:hover {
  background: #1db69a;
  color: #fff;
}
